html, body, #root, .App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
  
  .gn-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    background-color: beige;
  }
  
  .gn-countdown {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    flex-direction: column;
    font-family: monospace;
    font-weight: 900;
    font-size: 72pt;
  }
  
  .gn-countdown .gn-row {
    flex: 0 0 auto;
    justify-content: flex-start;
    display: flex;
  }
  
  .gn-countdown .gn-name {
    font-family: monospace;
    font-weight: 900;
    font-size: 72pt;
    flex: 0 0 auto;
    margin-right: 50px;
  }
  
  .gn-countdown .gn-txt {
    flex: 0 0 auto;
    font-weight: 300;
    font-family: monospace;
    font-size: 48pt;
    line-height: 135px;
  }
  
  .gn-countdown .gn-bet {
    font-family: monospace;
    font-weight: 600;
    font-size: 64pt;
  }